<!DOCTYPE html>
<html>
<head>
    {{> head}}    
</head>

<body class="container">
    <div class="row">
      <h1>iBackup</h1>
      <h2><em>your iphone images/videos</em></h2>
    </div>
    <div class="row">
      <form method="post" action="/backup/" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image1">Image</label>
          <input 
            type="file" 
            class="form-control" 
            id="image1"
            name="image1"
            placeholder="Image" 
            multiple
          >
        </div>
        <button type="submit" blass="btn btn-default">Send</button>
      </form>
    </div>
    <script src="/opt/jquery/jquery.js"></script>
    <script src="/opt/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>